
{% load static %}
<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forum - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.6.0 -->
  <link href="{% static 'static/bulma/css/bulma.css' %}" rel="stylesheet">
  <link href="{% static 'static/bulma/css/forum.css' %}" rel="stylesheet">


</head>
<body>

  <nav class="navbar is-white topNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
            <img src="../images/bulma.png" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="topNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="http://127.0.0.1:8000/">
            Home
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-small">
                  <span class="icon">
                    <i class="fa fa-user-plus"></i>
                  </span>
                  <span>
                    Register
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-small is-info is-outlined">
                  <span class="icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <span>Login</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <div class="navbar-item">


            {%block search%}
            {%endblock%}


            <!-- <input class="input" type="text" placeholder="Search forum..."> -->
          </div>
        </div>

      </div>
    </div>
  </nav>
  <section class="container">
    <div class="columns">
      <div class="column is-3">
        <a class="button is-primary is-block is-alt is-large" href="/car/create/"> Nuevo Carro</a>
        <aside class="menu">

        </aside>

      </div>

      <div class="column is-9">
        <div class="box content">



          {%block content%}
          {%endblock%}


          <!-- <article class="post">

            <h4>Bulma: How do you center a button in a box?</h4>
            <span class="pull-right has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
            <div class="media">
              <div class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">@jsmith</a> replied 34 minutes ago  &nbsp;
                    <span class="tag">Question</span>
                  </p>
                </div>
              </div>
            </div>
          </article> -->


        </div>
      </div>

    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <!-- <p>
          <strong>Bulma Templates</strong> by <a href="https://github.com/dansup">Daniel Supernault</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/dansup/bulma-templates">
            <i class="fa fa-github"></i>
          </a>
        </p>-->
      </div>
    </div>
  </footer>
  <script async type="text/javascript" src={% static 'static/bulma/js/bulma.js' %}></script>
  <!-- <script async type="text/javascript" src="../js/bulma.js"></script> -->
</body>
</html>
