<!-- recuadro de CREATE_VIEW.HTML   -->

<form class="form"  method="POST" action="{% if action_url %}{{ action_url }}{% endif %}" >

      {% csrf_token %}
      <!-- <label for="id_content">Content:</label></br> -->


      <!DOCTYPE html>
      <html>
        <head>


          <meta charset="utf-8">
          <title> save </title>
        </head>
        <body>
            <img src="img/lambo.png" >

          <div class="control">
              <!-- <textarea class="textarea"  name="content" required="" id="id_content" maxlength="140" placeholder="Tweet Please"></textarea> -->
              {{form.as_p}}
              <input class="button is-primary is-block is-alt is-large" type="submit" name="" value="{{btn_title}}">
          </div>


          </body>
      </html>

      <!-- {{form.as_p}} -->



</form>
